<h1>新規登録</h1>
<form action="/create" method="post">
  <label for="title">タイトル</label><br>
  <input type="text" name="title">
  <p></p>
  <label for="detail">詳細</label><br>
  <textarea name="detail"></textarea>
  <p></p>
  <input type="submit" value="追加">
</form>